In this scenario, we are a small independent movie theater in State College that is trying to maximize profit.  To do this we want to see which genre of movie is the most popular for our customers.  We are only a small theater so we can’t have that many movies in the theater at the same time.  We are also looking to cut back on staff so I want to find if any of our employees have problems dealing with customers.  By making cuts to staff and choosing movies that our customers like we will be able to maximize profit.  We picked this topic because we believed a movie theater would be a good background for a database.  Movie theaters have many moving parts such as types of tickets, employees, customer and employee interactions, and the movies themselves.  We envisioned that we could make a strong ER Diagram and database for a scenario dealing with a database.  We started the project by brainstorming what the different databases could be and how we could connect them.  We knew from the beginning that we wanted a table for movies, customers, and employees but we had to figure out how to make connections between some of these.  For example, to connect our customer and employee table we created a transaction table where we could see which customers interacted with which employees during a transaction.  We reached the final ER Diagram by making sure that all tables were interconnected in some way, there was no repeated data, and everything was in 1st form.

In [2]:
from IPython.display import IFrame
# https://www.youtube.com/embed/xxxxxxxxxxxx
IFrame("https://www.youtube.com/embed/cyP_LD-RoEM", 560, 315)

Our ER diagram is centered around the Real-Time Customers table.  This is the table that tells us which movies our customers are going to which allows us to find out which movie genre is the most popular.  There are four tables connected to the Real-Time Customers table.  The Real-Time Genres table gives the name of the movie a customer saw and its primary genre, this is how we can find the genre of the movie the customer saw.  The Tickets table shows us which type of ticket the customer bought, this will give us a better idea of how much money is being spent per movie.  A movie that may have more children tickets bought but be less profitable than a movie that has an equal amount of adult tickets bought.  The Loyalty Program table tells us whether or not a customer is in our loyalty program.  The Employees table is our second central table, it lists employees, their jobs, and salaries.  Connected to this table is the Job table that lists the minimum and maximum salaries that each position has and its job title. The final table is the Real-Time Transactions table, this table connects the Real-Time Customers table and the Employees table.  We are looking to downsize our employees and with this table, if a customer complains about a transaction we can find which employee helped them using the Transaction table and how the customer rated that transaction.  If worst comes to worst we will then know which employees we can let go.

To create the tables we spent time figuring out how to connect them.  Most of the creation was easy, from the beginning we knew what we wanted to do with the customer, ticket, loyalty, and genre table.  We also knew we wanted the jobs and employees tables but we weren’t sure how to connect these to the customers table at first.  After some discussion, we came up with the idea for the transaction table as a way to connect the two different parts of our database.  To insert data we came up with names and current movie titles.  We then connected this data to other tables we made by inserting the same data.  For example, on the Customers table, we would mark if a customer was a member of the loyalty program and if they were, their customer ID would then show up in the Loyalty Program table.  We continued to do this throughout our database as we populated it with data so that the tables and databases would be interconnected.

In [3]:
import sqlite3

In [4]:
connectionToDatabase = sqlite3.connect('RealTimeCustomers')
connectionToDatabase = sqlite3.connect('Employees')
connectionToDatabase = sqlite3.connect('Jobs')
connectionToDatabase = sqlite3.connect('RealTimeGenres')
connectionToDatabase = sqlite3.connect('Tickets')
connectionToDatabase = sqlite3.connect('LoyaltyProgram')
connectionTODatabase = sqlite3.connect('RealTimeTransactions')

In [5]:

cursor = connectionToDatabase.cursor() 
cursor.execute('''drop table IF EXISTS RealTimeCustomers''')
connectionToDatabase.commit()

cursor.execute('''create table IF NOT EXISTS RealTimeCustomers (CustomerID text PRIMARY KEY, Fname text, Lname text, MovieID text, TicketID text, LoyaltyID text)''')
connectionToDatabase.commit()



cursor = connectionToDatabase.cursor() 
cursor.execute('''drop table IF EXISTS Employees''')
connectionToDatabase.commit()

cursor.execute('''create table IF NOT EXISTS Employees (EmployeeID text PRIMARY KEY, JobID text, Salary text)''')
connectionToDatabase.commit()



cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS Jobs''')
connectionToDatabase.commit()

cursor.execute('''create table IF NOT EXISTS Jobs (JobID text PRIMARY KEY, Job_Title text, Minimum_Salary real, Maximum_Salary real)''')
connectionToDatabase.commit()



cursor = connectionToDatabase.cursor() 
cursor.execute('''drop table IF EXISTS RealTimeGenres''')
connectionToDatabase.commit()

cursor.execute('''create table IF NOT EXISTS RealTimeGenres (MovieID text PRIMARY KEY, title text, Primary_Genre text)''')
connectionToDatabase.commit()



cursor = connectionToDatabase.cursor() 
cursor.execute('''drop table IF EXISTS Tickets''')
connectionToDatabase.commit()

cursor.execute('''create table IF NOT EXISTS Tickets (TicketID text PRIMARY KEY, cost float, Ticket_Type text)''')
connectionToDatabase.commit()



cursor = connectionToDatabase.cursor() 
cursor.execute('''drop table IF EXISTS LoyaltyProgram''')
connectionToDatabase.commit()

cursor.execute('''create table IF NOT EXISTS LoyaltyProgram (LoyaltyID text PRIMARY KEY, CustomerID text)''')
connectionToDatabase.commit()

cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS RealTimeTransactions''')

cursor.execute('''create table IF NOT EXISTS RealTimeTransactions (TransactionID text PRIMARY KEY, CustomerID text, EmployeeID text, CustomerRating real)''')

In [6]:
cursor.execute('''insert into RealTimeCustomers values ('01', 'John', 'Doe', '101', '202', '301' );''')
connectionToDatabase.commit()
cursor.execute('''insert into RealTimeCustomers values ('02', 'Jane', 'Adams', '102', '204', 'None' );''')
connectionToDatabase.commit()
cursor.execute('''insert into RealTimeCustomers values ('03', 'Brian', 'Lee', '101', '204', '302' );''')
connectionToDatabase.commit()
cursor.execute('''insert into RealTimeCustomers values ('04', 'Greg', 'Man', '103', '201', 'None' );''')
connectionToDatabase.commit()
cursor.execute('''insert into RealTimeCustomers values ('05', 'Anne', 'Woman', '101', '204', '303' );''')
connectionToDatabase.commit()
cursor.execute('''insert into RealTimeCustomers values ('06', 'Ryan', 'Child', '102', '203', '304' );''')
connectionToDatabase.commit()


cursor.execute('''insert into Employees values ('401', '501', '$12.50');''')
connectionToDatabase.commit()
cursor.execute('''insert into Employees values ('402', '502', '$10.25');''')
connectionToDatabase.commit()
cursor.execute('''insert into Employees values ('403', '504', '$11.25');''')
connectionToDatabase.commit()
cursor.execute('''insert into Employees values ('404', '505', '$16.50');''')
connectionToDatabase.commit()
cursor.execute('''insert into Employees values ('405', '501', '$11.00');''')
connectionToDatabase.commit()

cursor.execute('''insert into Jobs values ('501', 'Ticket Booth Attendant', '$11.00', '$12.50');''')
connectionToDatabase.commit()
cursor.execute('''insert into Jobs values ('502', 'Snack Stand Attendant', '$10.00', '$12.00');''')
connectionToDatabase.commit()
cursor.execute('''insert into Jobs values ('503', 'Janitor', '$10.50', '$12.50');''')
connectionToDatabase.commit()
cursor.execute('''insert into Jobs values ('504', 'Ticket Checker', '$8.00', '$9.00');''')
connectionToDatabase.commit()
cursor.execute('''insert into Jobs values ('505', 'Manager', '$15.00', '$20.00');''')
connectionToDatabase.commit()

cursor.execute('''insert into RealTimeGenres values ('101', 'Action Movie', 'Action');''')
connectionToDatabase.commit()
cursor.execute('''insert into RealTimeGenres values ('102', 'Comedy Movie', 'Comedy');''')
connectionToDatabase.commit()
cursor.execute('''insert into RealTimeGenres values ('103', 'Kids Movie', 'Children');''')
connectionToDatabase.commit()
cursor.execute('''insert into RealTimeGenres values ('104', 'Horror Movie', 'Horror');''')
connectionToDatabase.commit()
cursor.execute('''insert into RealTimeGenres values ('105', 'Animated Movie', 'Animated');''')
connectionToDatabase.commit()

cursor.execute('''insert into Tickets values ('201', 12.00, 'Adult');''')
connectionToDatabase.commit()
cursor.execute('''insert into Tickets values ('202', 5.00, 'Child');''')
connectionToDatabase.commit()
cursor.execute('''insert into Tickets values ('203', 7.00, 'Elder');''')
connectionToDatabase.commit()
cursor.execute('''insert into Tickets values ('204', 10.00, 'Student');''')
connectionToDatabase.commit()
cursor.execute('''insert into Tickets values ('205', 8.00, 'Matinee');''')
connectionToDatabase.commit()

cursor.execute('''insert into LoyaltyProgram values ('301', '01');''')
connectionToDatabase.commit()
cursor.execute('''insert into LoyaltyProgram values ('302', '03');''')
connectionToDatabase.commit()
cursor.execute('''insert into LoyaltyProgram values ('303', '05');''')
connectionToDatabase.commit()
cursor.execute('''insert into LoyaltyProgram values ('304', '06');''')
connectionToDatabase.commit()
cursor.execute('''insert into LoyaltyProgram values ('305', '09');''')
connectionToDatabase.commit()

cursor.execute('''insert into RealTimeTransactions values ('601', '01', 401, 9);''')
connectionToDatabase.commit()
cursor.execute('''insert into RealTimeTransactions values ('602', '01', 402, 10);''')
connectionToDatabase.commit()
cursor.execute('''insert into RealTimeTransactions values ('603', '02', 405, 4);''')
connectionToDatabase.commit()
cursor.execute('''insert into RealTimeTransactions values ('604', '03', 405, 3);''')
connectionToDatabase.commit()
cursor.execute('''insert into RealTimeTransactions values ('605', '04', 401, 10);''')
connectionToDatabase.commit()
cursor.execute('''insert into RealTimeTransactions values ('606', '05', 405, 2);''')
connectionToDatabase.commit()
cursor.execute('''insert into RealTimeTransactions values ('607', '02', 403, 9);''')
connectionToDatabase.commit()
cursor.execute('''insert into RealTimeTransactions values ('608', '03', 404, 9);''')
connectionToDatabase.commit()

 
In our scenario, we are a small, independent movie theater in State College.  Since we don’t have many theaters we need to know which genre of movie brings in the largest audience.  When we figure this out we can show more of that genre.  We also have too many employees and are looking to let one or two go in order to save costs.  We plan on using our database to see which genre is seen the most, which group of patrons see the most movies based on types of tickets bought, and which employees have the worst customer reviews so we know who to let go.

"1. What is each employees average  transaction rating?"

In [7]:
cursor.execute('''SELECT EmployeeID, AVG(CustomerRating) FROM RealTimeTransactions GROUP BY EmployeeID''')
for row in cursor.fetchall():
  print (row)

('401', 9.5)
('402', 10.0)
('403', 9.0)
('404', 9.0)
('405', 3.0)

In [8]:
"This question shows us the average customer rating of an employee for each transaction.  This question helps us find which employee or employees have bad ratings.  Once we find employees with bad ratings we will know who we can let go to save more costs.  In this case employee 405 is clearly the worst with an average of 3.0 for their rating.  Letting them go should save us money."

'This question shows us the average customer rating of an employee for each transaction.  This question helps us find which employee or employees have bad ratings.  Once we find employees with bad ratings we will know who we can let go to save more costs.  In this case employee 405 is clearly the worst with an average of 3.0 for their rating.  Letting them go should save us money.'

"2. Which movies (Top 3) were seen the most"

In [9]:
cursor.execute('''SELECT count(RealTimeCustomers.MovieID), Title FROM RealTimeCustomers JOIN RealTimeGenres ON RealTimeCustomers.MovieID = RealTimeGenres.MovieID GROUP BY RealTimeCustomers.MovieID LIMIT 3''')
for row in cursor.fetchall():
  print (row)

(3, 'Action Movie')
(2, 'Comedy Movie')
(1, 'Kids Movie')

"This is the most important question for our database.  We want to know which movies are the most popular so that we can bring more of those to the theater.  This way we can make the most money from the movies we are showing.  Clearly action movies get the most views so we would want more action movies in our theater."

"3. Which type of ticket is purchased the most?"

In [10]:
cursor.execute('''SELECT COUNT(Tickets.TicketID), Ticket_Type, Cost FROM Tickets JOIN RealTimeCustomers ON Tickets.TicketID = RealTimeCustomers.TicketID GROUP BY Tickets.TicketID ORDER BY COUNT(Tickets.TicketID) DESC''')
for row in cursor.fetchall():
  print (row)

(3, 'Student', 10.0)
(1, 'Adult', 12.0)
(1, 'Child', 5.0)
(1, 'Elder', 7.0)

"This question is important because it shows what type of audience we are getting.  If it were more children, we would want to pander to their tastes.  In this case it is more students so we have a better idea of what movies our target audience would want to see.  This paired with the previous question makes it easier for us to narrow down our list of which movies to show."